body {
    padding: 0;
    margin: 0;
    font-family: 'Papyrus';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(234, 221, 202);
    color: black;
}

#game {
    display: flex;
}

h2 {
    margin: 15px;
    padding: 0;
    text-decoration: underline;
}

.card {
    width: 160px;
    height: 120px;
    font-size: 65px;
    text-align: center;
    background-color: rgb(196, 164, 132);
    border-left: solid black 2px;
    border-right: solid black 2px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    margin: 5px;
    padding: 10px;
    line-height: 120px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.genre-name {
    text-align: center; 
    font-size: 30px;
    font-weight: 900;
    text-decoration: underline;
    margin: 15px;
    padding: 0;
    background-color: rgb(196, 164, 132);
}

p {
 font-size: 22px;
 font-weight: 800;
}

h1 {
    font-size: 45px;
}

h2 {
    font-weight: 800;
    font-size: 30px;
}

.first-button {
    background-color: aliceblue;
}


.correct-answer {
    background-color: rgb(154, 171, 158);
}

.wrong-answer {
    background-color: rgb(171, 113, 121) ;
}